.about-content {
    padding-top: 10vh;
    text-align: center;
    background-color: var(--body_background);
    margin-left: -2vw;
}

.about-head {
    color: gold;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin: 1em auto 0;
    font-size: 5vw;
}

.about-body {
    width: 70%;
    text-align: justify;
    font-size: 1.2em;
    margin: 1em auto 0;
    margin-left: 15vw;
    padding-bottom: 15vh;
    line-height: 3vw;
    color: var(--body_color);
}

@media (max-width: 950px) {
    .about-content {
        padding-top: 20vh; /* Adjust padding for smaller screens */
    }

    .about-head {
        font-size: 7vw; /* Adjust font size for smaller screens */
    }

    .about-body {
        width: 90vw; /* Adjust the width for smaller screens */
        font-size: 3vw; /* Adjust font size for smaller screens */
        margin-left: 5vw; /* Remove left margin for smaller screens */
        padding-bottom: 10vh; /* Adjust padding for smaller screens */
        line-height: 6vh; /* Adjust line height for smaller screens */
    }
}