.content-head {
    display: flex;
    flex-direction: row;
    padding-top: 25vh;
    background-color: var(--body_background);
    margin-left: -0.6vw;
    padding-bottom: 15vh;
    max-width: 100vw;
}

.content-logo {
    margin-right: 5vw;
    margin-left: 10vw;
    font-size: 20vw;
}

.header {
    width: 50vw;
}

.head {
    color: var(--body_color);
    letter-spacing: 0.5vw;
}

.head2 {
    font-size: 3em;
    color: var(--body_color);
    font-style: italic;
}

.body {
    color: var(--body_color);
    line-height: 5vh;
}

.discover {
    margin-top: 9.5vh;
    margin-left: 10.5vw;
    color: yellow;
    font-weight: bolder;
    margin-bottom: 10vh;
    font-size: 3vw;
}

.footer {
    font-style: italic;
    color: var(--body_color);
    margin-left: 9vw;
}
@media (max-width: 1100px) {
    .content-head {
        flex-direction: column; /* Stack content in a column on smaller screens */
        padding-top: 20vh; /* Adjust the padding values as needed */
        padding-bottom: 5vh;
        padding-left: 6vw;
    }

    .content-logo {
        margin-right: 0;
        margin-left: 0;
        font-size: 12vw; /* Adjust font size for smaller screens */
        margin-bottom: 5vh;
    }

    .header {
        width: 80%; /* Adjust the width as needed for smaller screens */
    }

    .head {
        letter-spacing: 0.2vw; /* Adjust letter spacing as needed */
    }

    .discover {
        margin-top: 5vh; /* Adjust margin values as needed */
        margin-left: 0;
        margin-bottom: 5vh;
        font-size: 7vw; /* Adjust font size for smaller screens */
    }

    .footer {
        margin-left: 0;
    }
}