.navigate {
    background-color: var(--body_background);
    position:relative;
    top: 0;
    left: 0;
    margin-left: -80vw;
    margin-bottom: 5vw;
    width: 100vw;
    
}
.toggle {
    width: fit-content;
    height: fit-content;
    margin:1rem 0 auto;
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: capitalize;
    background-color: burlywood;
    color: var(--body_color);
}


.hide {
    display: none;
}
.toggle:hover {
    cursor: pointer;
    width: fit-content;
    height:fit-content;
    background-color: burlywood;
}

.about a{
    display: block;
    font-size: 4vw;
    color: var(--body_color);
    text-decoration: none;
    margin-left: 44vw;
    padding-top: 15vh;
}

.about a:hover {
    cursor: pointer;
    color: gold;
    font-weight: bold;
}

.contact a {
    display: block;
    font-size: 4vw;
    color: var(--body_color);
    text-decoration: none;
    margin-left: 44vw;
    padding-top: 15vh;
}

.contact a:hover {
    cursor: pointer;
    color: gold;
    font-weight: bold;
}

.projects a {
    display: block;
    font-size: 4vw;
    color: var(--body_color);
    text-decoration: none;
    padding-bottom: 100vh;
    margin-left: 44vw;
    padding-top: 15vh;
}

.projects a:hover {
    cursor: pointer;
    color: gold;
    font-weight: bold;
}

@media (max-width: 950px) {
    /* Your existing CSS here */
    .navigate {
        background-color: var(--body_background);
        position: relative;
        top: 0;
        left: 0;
        margin-left: -80vw; /* Adjust margin-left to cover the entire right side */
        margin-bottom: 5vw;
        width: 115vw;
        margin-top: 2vh;
    }

    .toggle {
        width: fit-content;
        margin: -5rem 1rem auto;
        height: fit-content;
        font-size: 4vw;
        font-weight: 600;
        text-transform: capitalize;
        background-color: burlywood;
        color: var(--body_color);
    }

    .about a,
    .contact a,
    .projects a {
        display: block;
        font-size: 4vw;
        color: var(--body_color);
        text-decoration: none;
        margin-left: 44vw;
        padding-top: 15vh;
    }

    .about a:hover,
    .contact a:hover,
    .projects a:hover {
        cursor: pointer;
        color: gold;
        font-weight: bold;
    }
}