@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body_background: white;
    --body_color: black;
    --border_bottom_color: grey;
}

[data-theme ="dark"] {
    --body_background: #1D1F21;
    --body_color: white;
    --border_bottom_color: silver;
}

* {
    transition:all 0.3s ease-in-out; 
}